.movieCardWrap {
  display: flex;
  max-height: 50vh;
  margin-bottom: 30px;
}
.descWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
}

.imgWrap {
  overflow: hidden;
  border-radius: 5px;
  min-width: 250px;
  margin-right: 30px;
  box-shadow: 0 0 7px 0 #800080;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heading {
  font-size: 34px;
  font-weight: 900;
}

.rating {
  margin-bottom: 20px;
}

.overviewHeading {
  color: #800080;
}


.overviewDesc {
  text-align: left;
  margin-bottom: 20px;
}

.genresHeading {
  color: #800080;
}
