.movieList {
  padding-left: 30px;
}

.movieItem {
  text-align: left;
  position: relative;
  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #800080;
    position: absolute;
    top: 35%;
    left: -15px;
  }
  & a:visited {
    color: #800080;
  }
  & a:hover,
  & a:focus {
    color: #800080;
    text-decoration: underline;
  }
}